accelerate
bitsandbytes
datasets
deepspeed
einops
isort
jsonlines
loralib
optimum
optree
packaging
peft
pynvml>=12.0.0
ray[default]
tensorboard
torch
torchmetrics
tqdm
transformers
transformers_stream_generator
wandb
wheel
sacrebleu
sentence_transformers
fastapi